.footer {
    background-color: #2c3e50;
    padding: 60px 0;
  }
  
  .social_btn {
    background: transparent;
    border: 2px solid white;
    color: white;                 /* ⭐ هذا الحل */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .social_btn:hover {
    background-color: white;
    color: #2c3e50;
  }
  .link_color{
    color: #1abc99;
  }
 